head
	meta(content=`1; url=${ currentSite.URL }` http-equiv="refresh")

	script.
		window.location = currentSite.URL;

body
	h1= translate("Redirecting you to %s...", currentSite.Name)
	p!= translate('If this doesn\'t work, you can <a href="%s">go to %s</a> by clicking here', currentSite.URL, currentSite.Name)
