head
	meta(content=`1; url=${ CurrentSite.URL }` http-equiv="refresh")

	script.
		window.location = CurrentSite.URL;

body
	h1= translate("Redirecting you to %s...", CurrentSite.Name)
	p!= translate('If this doesn\'t work, you can <a href="%s">go to %s</a> by clicking here', CurrentSite.URL, CurrentSite.Name)
