extends .layout

block content
	img.made-with-page__logo(src='{{ asset (printf "logos/%s.svg" .CurrentTech.URLName) }}')
	h1.made-with-page__header
		i18n works made with
		br
		i18n {{ .CurrentTech.DisplayName }}
	p.made-with-page__tech-description(translate) {{ .CurrentTech.Description }}

	section.made-with-page__gallery
		{{ .Works | madeWith .CurrentTech | intoGallery (printf "tech-%s" .CurrentTech.URLName) | tindent 1 }}
