extends .layout

block content
	h1(translate) made with

	{{ with .CurrentTech }}
	li.made-with__item: a(href="/using/{{ .URLName }}")
		img(src='{{ asset (printf "logos/%s.svg" .URLName) }}')
		span(translate) {{ .DisplayName }}
	{{ end }}

	{{ .Works | madeWith .CurrentTech | intoGallery | tindent 1 }}
