extends ../layout

block append head
	+title(translate(currentTag.plural))

block content
	h1(i18n)= currentTag.plural

	if currentTag.Description
		.description(i18n)!= currentTag.description
		if currentTag.learnMoreURL
			a.description__learn-more(href=currentTag.learnMoreURL)
				+icon("arrow-right")
				i18n Learn more

	+gallery((withTag(allWorks, currentTag)), classes=`tag-${currentTag.urlName}`)
