extends layout

block append head
	+title(title=translate "about me")

block content
	section
		p.pre-h1(i18n) Hi, I'm Ewen Le Bihan.
		h1(i18n) These are my creations.
		p(i18n) I'm interested in almost anything that is both creative and digital.

	section
		h2(i18n) artistique
		p(i18n) Dessin à l'école des beaux-arts de Nîmes, ateliers de peinture, de sculpture. Depuis mes 7 ans, je compose de la musique électronique, j'ai suivi des cours de piano et de DJ et participé à une masterclass de production musicale. Pendant mes années de collège, j'ai réalisé de nombreuses affiches et logos en utilisant divers logiciels (3D, motion design, graphisme…)

	section
		h2(i18n) numérique
		p(i18n) J'ai appris à programmer dans différents langages informatiques: HTML, Python et JavaScript, ce qui m'a permis de créer mon site et, actuellement, une application web pour étudiants. J'ai aussi pour projet la création de plusieurs langages de programmation.
		p(i18n) Tout mes projets de programmation sont visibles par tous sur mon profil GitHub: tout mes projets sont dits "Open Source".

	section
		h2(i18n) linguistique
		p(i18n) L'anglais étant indispensable à la lecture de documentations, j'ai approfondi cette langue (TOEIC Bridge: 176/180), conversé par mail avec un américain pour réaliser un logo. Je suis aussi fasciné depuis l'enfance par l'écriture: le cyrillique (d'où mon choix de LV3, le russe), le grec (cours particuliers) et les hiraganas et katakanas (japonais en autodidacte).

	section
		h2(i18n) scientifique
		p(i18n) Le langage mathématique m'intéresse tout autant: il m'arrive d'appréhender des concepts complexes mathématiques en naviguant sur wikipédia anglais ou en regardant des vidéos de chaînes YouTube telles que "3Blue1Brown" ou "Numerphile"

	section.go-back
		a.arrow-link(href="/")
			img(src=(asset "icons/arrow-left.svg"))
			span(i18n) Back home
