extends ../layout

block append head
	+title(translate("contact me"))

block content
	h2(i18n) contact me

	dl(style="align-self: center")
		dt(i18n) send a mail at
		dd hey@ewen.works

		dt(i18n) slide into my twitter dms
		dd: a(href="https://twitter.com/ewen_lbh") twitter.com/ewen_lbh
