head
	meta(
		content="1; url=https://github.com/users/ewen-lbh/projects/2"
		http-equiv="refresh"
	)

	script.
		window.location = "https://github.com/users/ewen-lbh/projects/2";

body
	h1(i18n) Redirecting you to my github incubator...
	p(i18n) If this doesn't work, you can #[a(href="https://github.com/users/ewen-lbh/projects/2") go to it by clicking here]
