extends ../layout

block append head
	+title()

block content
	- const latest = latestWork(finished(all_works))
	- const others = all_works.filter(w => w.ID !== latest.ID)
	p.pre-h1(i18n) Hi, I'm Ewen Le Bihan.
	h1(i18n) These are my creations.
	p.intro
		i18n Hi! I'm Ewen Le Bihan. I'm interested in almost anything that is both creative and digital.
		br
		a(href="/about")
			img.icon(src=asset("icons/arrow-right.svg"))
			span(i18n) Learn more


	section#latest

		h2(i18n) most recent one

		+work-card(latest, "display")

	section#finished

		h2(i18n) others

		+gallery(finished(others))

	section#wip

		h2(i18n) work in progress

		+gallery(unfinished(others))

	section#indexes-links

		h2(i18n i18n-context="On homepage, as a section header for indexes") browse works by...

		ul.big-links
			li: a(i18n href="/tags") tags
			li: a(i18n i18n-context="Link to /using on homepage" href="/using") technologies used
