extends ../layout

block append head
	+title(title=translate "works by tag")

block content
	h1(i18n) works by tag

	ul.tags-index
		//- For each tag, a work is selected to use as the tag link's colors.
		//- Store already-selected works there to avoid seeing the same color multiple times
		- let seen = new Set()
		each tag in all_tags
			//- Don't show tags with no associated works
			if tagged(all_works, tag)
				//- Select a work: latest of works tagged with the current tag, not already selected
				- const selected = tagged(all_works, tag).filter(w => !seen.has(ColorsCSS(w)))?.[0]
				- const colors = selected ? ColorsCSS(selected) : ""
				- seen.add(colors)
				//- Override --primary and --secondary
				li(style=colors)
					a(i18n style=colors href=tag.URLName)=tag.Plural
