extends ../layout

block append head
	+title(translate("thanks"))
	+page-styles("thanks")

block content
	h2 made with…

	dl
		dt(i18n) beautiful OFL typeface
		dd
			a(href="https://manropefont.com/") Manrope
			i18n by
			a(href="https://gent.media/") Mikhail Sharanda

		dt(i18n) efficient and comfortable programming language
		dd: a(href="https://go.dev") Go

	p #[a(i18n href="/portfolio") Designed and coded by hand], not using some template.
	p Portfolio management system #[a(href="/ortfo") ortfo] created for this.
