extends layout

block append head 
	+title(title=translate "thanks")

block content
	h2 made with…

	dl
		dt(i18n) beautiful OFL typeface
		dd
			a(href="https://manropefont.com/") Manrope
			i18n by
			a(href="https://gent.media/") Mikhail Sharanda

		dt(i18n) efficient and comfortable programming language
		dd: a(href="https://go.dev") Go

	p
		a(i18n href="/portfolio") Design and coded by hand
		|, not using some template or site builder
