extends ./layout

block append head
	+title("civic engagement")

block content
	h1 Civic Engagement

	h2 Sulitest
	p.intro an online sustainability literacy test

	table.sulitest
		tr
			th Module
			th Score
			th %
			th Benchmark
		tr
			td: strong CORE International
			td: strong 65
			td: strong 47 %
			td: strong 57 % (worldwide) 57 % (session)
		tr
			td Knowledge - Sustainable humanity and ecosystems
			td 31
			td 70 %
			td(nowrap) 61 % (worldwide) 63 % (session)
		tr
			td Knowledge - Global and local human-constructed systems
			td 16
			td 33 %
			td(nowrap) 57 % (worldwide) 60 % (session)
		tr
			td Knowledge - Transition towards sustainability
			td 13
			td 33 %
			td(nowrap) 55 % (worldwide) 48 % (session)
		tr
			td Knowledge - Role to play, individual &amp; systemic change
			td 5
			td 50 %
			td(nowrap) 54 % (worldwide) 47 % (session)
