extends ./layout

block content
	h1 International Mobility

	h2 English
	p.intro Our english classes consists of meetings, where someone chairs and someone minutes. Here are the minutes I took of a meeting.

	img.meeting-minutes(src="./minutes.png")

	h2 日本語
	p.intro I took Japanese as a second language course. I learned to read characters of both Japanese syllabaries, ひらがな (hiragana) &amp; カタカナ (katakana).

	.kanas
		table.hiraganas
			tr
				td(colspan=6): em Hiraganas
			tr
				th
				th: i a
				th: i i
				th: i u
				th: i e
				th: i o
			tr
				th(title="No lead consonant") ∅
				td: big あ
				td: big い
				td: big う
				td: big え
				td: big お
			tr
				th: i k
				td: big か
				td: big き
				td: big く
				td: big け
				td: big こ
			tr
				th: i s
				td: big さ
				td: big し
				td: big す
				td: big せ
				td: big そ
			tr
				th: i t
				td: big た
				td: big ち
				td: big つ
				td: big て
				td: big と
			tr
				th: i n
				td: big な
				td: big に
				td: big ぬ
				td: big ね
				td: big の
			tr
				th: i h
				td: big は
				td: big ひ
				td: big ふ
				td: big へ
				td: big ほ
			tr
				th: i m
				td: big ま
				td: big み
				td: big む
				td: big め
				td: big も
			tr
				th: i y
				td: big や
				td
				td: big ゆ
				td
				td: big よ
			tr
				th: i r
				td: big ら
				td: big り
				td: big る
				td: big れ
				td: big ろ
			tr
				th: i w
				td: big わ
				td
				td
				td
				td: big を
			tr
				td(colspan="6"): big ん (n)

		table.katakanas
			tr: td(colspan=6): em Katakanas
			tr
				th
				th: i a
				th: i i
				th: i u
				th: i e
				th: i o
			tr
				th(title="No lead consonant") ∅
				td: big ア
				td: big イ
				td: big ウ
				td: big エ
				td: big オ
			tr
				th: i k
				td: big カ
				td: big キ
				td: big ク
				td: big ケ
				td: big コ
			tr
				th: i s
				td: big サ
				td: big シ
				td: big ス
				td: big セ
				td: big ソ
			tr
				th: i t
				td: big タ
				td: big チ
				td: big ツ
				td: big テ
				td: big ト
			tr
				th: i n
				td: big ナ
				td: big ニ
				td: big ヌ
				td: big ネ
				td: big ノ
			tr
				th: i h
				td: big ハ
				td: big ヒ
				td: big フ
				td: big ヘ
				td: big ホ
			tr
				th: i m
				td: big マ
				td: big ミ
				td: big ム
				td: big メ
				td: big モ
			tr
				th: i y
				td: big ヤ
				td 
				td: big ユ
				td 
				td: big ヨ
			tr
				th: i r
				td: big ラ
				td: big リ
				td: big ル
				td: big レ
				td: big ロ
			tr
				th: i w
				td: big ワ
				td
				td 
				td
				td: big ヲ
			tr
				td(colspan="6"): big ン (n)
