h2 contact me

dl
    dt(translate) send a mail at
    dd: a(href="mailto:hey@ewen.works") hey@ewen.works

    dt(translate) slide into my dms at
    dd: a(href="twitter.com/ewen_lbh") twitter.com/ewen_lbh