ul.tags
	
	li: a(href="/illustrations"): i18n illustration
	

section.contents
	h1 Trigonometry Synth

	
	div.row
		p(id="").
			(summary)<br/>
			Looking for interesting ways to represent trigonometric identities, I tried to connect the different symmetry formulas of cos, <abbr title="sinusoïdal">sin</abbr>, tan and cotan.
	
	div.row
		img(src="/mnt/d/projects/portfoliodb/example/database/trigonometry-synth/trigonometry-synth.png" id="trigonometry-synth" title="" alt="Trigonometry Synth")
	
	div.row
		a(href="https://www.reddit.com/r/synthesizers/comments/h8vd5d/so_i_was_trying_to_learn_trigonometry_symmetries/" id="post-reddit" title="") post-reddit
		p(id="").
			(reddit)<br/>
			While making the image, I realized that it was similar to a synthesizer, more precisely a modular synthesizer. I also posted this image on <a href="https://reddit.com/r/synthesizers">r/synthesizers</a> and received a lot of positive feedback and possible musical interpretations of an illustration.
	
	div.row
		p(id="").
			(connect)<br/>
			Looking for interesting ways to represent trigonometric identities, I tried to connect the<sup class="footnote-ref" id="fnref:abcEF"><a href="#fn:abcEF">1</a></sup> different symmetry formulas of cos, <abbr title="sinusoïdal">sin</abbr>, tan and cotan.
		div.spacer
	
	div.row
		p(id="").
			(change-of-interpretation)<br/>
			While making the image, I realized that it was similar to a synthesizer, more precisely a modular synthesizer. I also posted this image on r/synthesizers and received a lot of positive feedback and possible musical interpretations of an illustration<sup class="footnote-ref" id="fnref:abcEF"><a href="#fn:abcEF">1</a></sup>.
	
	


