mixin spinner
    svg.spinner(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 612.75 611.5')
        defs
            style.
                line {
                    fill: none;
                    stroke: #000;
                    stroke-linecap: square;
                    stroke-miterlimit: 10;
                    stroke-width: 22px;
                }


        line.E1-top(x2='11.62' y2='11' x1='306.06' y1='11')
        line.E1-middle(x2='11' y2='158.84' x1='305.44' y1='158.84')
        line.E1-bottom.E2-top(x2='11' y2='306.06' x1='305.44' y1='306.06')
        line.E1-left(x2='11' y2='11.62' x1='11' y1='306.06')
        line.W-left.E1-right(x1='306.69' y1='305.44' x2='306.69' y2='11')
        line.W-middle(x1='454.53' y1='306.06' x2='454.53' y2='11.62')
        line.W-right(x1='601.75' y1='306.06' x2='601.75' y2='11.62')
        line.W-bottom.N-top(x1='307.31' y1='306.06' x2='601.75' y2='306.06')
        line.E2-middle(x2='11' y2='453.28' x1='305.44' y1='453.28')
        line.E2-bottom(x2='11' y2='600.5' x1='305.44' y1='600.5')
        line.E2-left(x1='11' y1='306.06' x2='11' y2='600.5')
        line.N-left.E2-right(x2='306.69' y2='599.88' x1='306.69' y1='305.44')
        line.N-right(x2='601.75' y2='600.5' x1='601.75' y1='306.06')
