extends ../layout

block append head
	+title(title=translate "technologies i use")

block content
	= $works := .Works
	h1(i18n) technologies i use

	ul.made-with__list.made-with__list--fullwidth
		each _ in .KnownTechnologies
			if len ($works | madeWith .)
				li.made-with__item
					a(href=`/using/{{ .URLName }}` title=(translate "More..."))
						img.made-with__item__logo(
							src=(asset (printf "logos/%s.svg" .URLName))
							alt=(printf (translate "%s’s logo") .DisplayName)
						)
						if .Author
							span.made-with__item__subline= .Author
						span.made-with__item__name= .DisplayName
