extends .layout

block nav

block content
	.fullheight
		h1: block code
			| ???
		p(translate): block message
			| Unknown error

		nav.inline: ul
			li: a(translate href="/") works
			li: a(translate href="/music") music
			li: a(translate href="/about") about
			//- li: a(translate href="https://blog.ewen.works") blog
			li: a(translate href="/contact") contact
			li: a(translate onclick="window.location.hostname = '[# OTHER LANGUAGE CODE #].ewen.works';") en français
