{{ $ws := .GivenWorks }}

{{ if len $ws }}
ul(class="gallery__works {{ .CustomClasses }}")
	{{ range $year := $ws | getYears }}
	li.gallery__works__year
		{{ if ne $year -1 }}
		h3 {{ $year }}
		{{ else }}
		h3(translate) Unknown year
		{{ end }}
		ul.gallery__works__year__works
			{{ range $ws | createdIn $year }}
			li.gallery__works__year__works__work(style="{{ . | intoColorsCSS }}"): a.work-card.work-card--medium(href="/{{ .ID }}")
				{{ if len .Media }}
				img.work-card--medium__image(src="{{ . | getThumbnailSource }}")
				{{ else }}
				.work-card--medium__image--empty
				{{ end }}
				.work-card--medium__text
					h4 {{ .Title }}
					{{ if len .Paragraphs }}
					p.
						{{ . | getSummary | tnindent 6 }}
					{{ end }}
			{{ end }}
	{{ end }}
{{ else }}
ul.gallery__works--empty
{{ end }}
