<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    main
      block content
    footer
      span.hint ewen.works/to/
      dl
        dt: a(href="https://ewen.works/to/twitter") twitter
        dd(translate) random thoughts

        dt: a(href="https://ewen.works/to/github") github
        dd(translate) open-source code

        dt: a(href="https://ewen.works/to/spotify") spotify
        dd(translate) my music

        dt: a(href="https://ewen.works/to/deezer") deezer
        dd(translate) also my music

        dt: a(href="https://ewen.works/to/youtube") youtube
        dd(translate) music+visual
        
        dt: a(href="https://ewen.works/to/mail") mail
        dd(translate) contact