extends .layout

block append head
	link(rel="stylesheet" href='{{ asset "vendor/dialog-polyfill.css" }}')

block content
	ul.tags
		{{ range .CurrentWork.Metadata.Tags }}
		{{ $tag := . | lookupTag }}
		li: a(href="/{{ $tag.URLName }}" translate) {{ $tag.Singular }}
		{{ end }}

	{{ if .CurrentWork.IsWIP }}
	a.work-in-progress(href="/#wip" translate) work in progress
	{{ end }}

	section.contents
		h1(data-style="{{ .CurrentWork.Metadata.Title }}") {{ .CurrentWork.Title }}

		{{ .CurrentWork | intoLayout | tnindent 2 }}


	{{ if (len .CurrentWork.Metadata.MadeWith) }}
	section.made-with
		h2.made-with__title(translate) made with
		p.made-with__explainer(translate) the software, frameworks, libraries, materials and services I used to make this
		ul.made-with__list
			{{ range .CurrentWork.Metadata.MadeWith }}
			{{ $tech := . | lookupTech }}
			li.made-with__item
				a(href="/using/{{ $tech.URLName }}")
					img.made-with__item__logo(
						src='{{ asset (printf "logos/%s.svg" $tech.URLName) }}'
						alt="[# '{{ $tech.DisplayName }}’s logo' | translate #]"
					)
					{{ if $tech.Author }}
					span.made-with__item__subline {{ $tech.Author }}
					{{ end }}
					span.made-with__item__name(translate) {{ $tech.DisplayName }}
				{{ if $tech.LearnMoreURL }}
				a.made-with__item__learn-more(href="{{ $tech.LearnMoreURL }}" translate) Learn more
				{{ end }}
			{{ end }}
	{{ end }}

	dialog#media-closeup(onclick="this.close()")
		.media.empty
		button.close(onclick="this.parentElement.close()" title="[# 'Close' | translate #]") ×

	style.
		:root {
			{{ range $key, $value := .CurrentWork | getColorsMap }}
			--{{$key}}: {{$value}};
			{{- end -}}
		}

		{{ if .CurrentWork.Metadata.PageBackground }}
		body {
			background-image: url('{{ media (printf "%s/%s" .CurrentWork.ID .CurrentWork.Metadata.PageBackground) }}');
		}
		{{ end }}

	script(src='{{ asset "vendor/dialog-polyfill.js" }}')
	script.
		document.querySelectorAll('dialog').forEach(el => {
			dialogPolyfill.registerDialog(el)
		})
	script(src='{{ asset "ui.js" }}')
