extends .layout

block content
	ul.tags
		{{ range .CurrentWork.Metadata.Tags }}
		{{ $tag := . | lookupTag }}
		li: a(href="/{{ $tag.URLName }}" translate) {{ $tag.DisplayName }}
		{{ end }}

	section.contents
		h1 {{ .CurrentWork.Title }}

		{{ .CurrentWork | intoLayout | tnindent 2 }}


	{{ if (len .CurrentWork.Metadata.MadeWith) }}
	section.made-with
		h2.made-with__title(translate) made with
		p.made-with__explainer(translate) the software, frameworks, libraries, materials and services I used to make this
		ul.made-with__list
			{{ range .CurrentWork.Metadata.MadeWith }}
			{{ $tech := . | lookupTech }}
			li.made-with__item: a(href="/using/{{ $tech.URLName }}")
				img.made-with__item__logo(src='{{ asset (printf "logos/%s.svg" $tech.URLName) }}')
				{{ if $tech.Author }}
				span.made-with__item__subline {{ $tech.Author }} {{ end }}
				span.made-with__item__name(translate) {{ $tech.DisplayName }}
			{{ end -}}
	{{ end }}

	style.
		:root {
			{{ range $key, $value := .CurrentWork | getColorsMap }}
				--{{$key}}: {{$value}};
			{{ end }}
		}
