@import "mixins"

.work-card
	position relative
	display flex
	flex-direction column
	overflow hidden
	margin 0 auto
	max-width 800px
	width 100%
	border-radius 0.5rem
	background-color secondary
	background-size cover
	background-repeat no-repeat
	color primary
	text-decoration none

	.thumb
		grid-area thumb

	h4
		grid-area title

	.summary
		grid-area summary

	.button-link
		grid-area go

	h4, .summary, .button-link, .thumb
		margin 0
		padding 0

	&[data-secondary="white"], &[data-secondary="#fff"], &[data-secondary="#ffffff"], &[data-secondary="FFFFFF"], &[data-secondary=""]
		border 2px solid primary

	.thumb
		object-fit contain

	h4
		font-weight bold
		font-size 3em

	.button-link a
		display inline-block
		margin-top auto
		padding 0.25rem 0.5rem
		border 2px solid primary
		border-radius 0.25rem
		text-decoration none

		+highlighted()
			background primary
			color secondary

.work-card--display:not([data-no-thumb])
	h4, .button-link, .summary
		opacity 0

.work-card--display
	justify-content center
	align-items center
	height min(50vh, 600px)

	@media (min-width 800px)
		gap 1rem

	.thumb
		position absolute
		width 100%
		height 100%
		transition transform 0.5s ease, opacity 0.5s ease
		transform scale(1.1)
		pointer-events none
		object-fit cover

	h4
		margin-top 25%

		&:not([data-long])
			font-size 5em

		text-align center

	.button-link
		margin-bottom 25%

	.summary
		margin 0 auto
		width 75%

	h4, .button-link, .summary
		z-index 2
		transition opacity 0.25s ease

	+highlighted()
		.thumb
			opacity 0.15
			transform scale(1)

		h4, .button-link, .summary
			opacity 1

.work-card--landscape
	display grid
	grid-template-rows auto 1fr 1fr
	grid-template-areas "thumb thumb" "title go" "summary go"

	.thumb
		width 100%
		height auto
		justify-self center
		object-fit contain

	h4
		margin 0
		margin-top 2rem
		padding-left 1rem
		font-size 2em

	.button-link
		display flex
		justify-content end
		align-items end
		padding 1rem
		justify-self end

	.summary
		margin-top 0
		padding 1rem
		padding-top 0

@media (min-width 800px)
	.work-card--no-thumb
		justify-content center
		align-items center
		height min(33vh, 400px)

		h4
			margin-top 25%

			&:not([data-long])
				font-size 5em

			text-align center

		.button-link
			margin-bottom 25%

		.summary
			margin-right 25%
			margin-left 25%

	.work-card--portrait
		display grid
		height min(33vh, 400px) // WARNING: change the sizes attribute in work-card.pug if you change this
		grid-template-rows auto 1fr
		grid-template-columns auto 1fr
		grid-template-areas "thumb title" "thumb summary" "thumb go"
		gap 1rem

		.thumb
			height @height

			@media (max-width 800px)
				width 100%

			width auto
			pointer-events none
			object-fit contain
			object-position left

		h4
			margin-top 1rem
			font-size 2em

			&:not([data-long])
				font-size 3em

		.button-link
			display flex
			justify-content end
			align-items end
			padding 1rem
			justify-self end

		.summary
			margin-right 1rem

	.work-card--floating
		position relative
		flex-direction column
		height min(33vh, 400px) // WARNING: change the sizes attribute in work-card.pug if you change this

		.thumb
			align-self start
			width auto
			height @height
			pointer-events none
			justify-self start

		h4
			position absolute
			top 1rem
			right 1rem
			font-size 2em
			writing-mode vertical-rl

		.summary
			position absolute
			top 25%
			left 40%
			margin-top 0
			padding 1rem
			width 40%
			background primary
			color secondary

		.button-link
			position absolute
			right 1rem
			bottom 1rem

@media (max-width 799px)
	.work-card
		&:not(&--display) .thumb
			max-height 33vh
			width 100%
			object-fit cover

		.summary, .button-link, h4
			padding 1rem

		.button-link
			text-align right

		h4
			font-size 2em
