= $ws := .GivenWorks

if len $ws
	ul(class=`gallery__works {{ .CustomClasses }}`)
		each _ in $year := $ws | getYears
			li.gallery__works__year
				if ne $year -1
					h3=$year
				else
					h3(i18n) Unknown year
				
				ul.gallery__works__year__works
					each _ in $ws | createdIn $year
						li.gallery__works__year__works__work(style=( . | intoColorsCSS))
							a.work-card.work-card--medium(
								href=`/{{ .ID }}`
								class=(ternary "" "work-card--no-image" (ne (len .Media) 0))
							)
								if len .Media
									img.work-card--medium__image(src=( . | getThumbnailSource 700))
									
								.work-card--medium__text
									h4= .Title
									if len .Paragraphs
										p= . | getSummary
								
				
		
else
	ul.gallery__works--empty
	
