extends layout

block content
	= $latest := .Works | finished | latest
	p.pre-h1(i18n) Hi, I'm Ewen Le Bihan.
	h1(i18n) These are my creations.
	p.intro
		i18n Hi! I'm Ewen Le Bihan, I'm #{ .Age } years old and I'm interested in almost anything that is both creative and digital.
		br
		a(href="/about")
			img.icon(src=(asset "icons/arrow-right.svg"))
			span(i18n) Learn more


	section#latest

		h2(i18n) most recent one

		a.work-card.work-card--large(
			href=`/{{ $latest.ID }}`
			style!=`
				background-image:url('{{ $latest | getThumbnailSource 700 }}');
				{{ $latest | intoColorsCSS }}
			`
			class=(or ($latest | getThumbnailSource 700) "work-card--no-image")
		)
			h3= $latest.Title
			if len $latest.Paragraphs
				p= $latest | getSummary 

	section#finished

		h2(i18n) others

		= .Works | finished | intoGallery "" 

	section#wip

		h2(i18n) work in progress

		= .Works | unfinished | intoGallery "" 

	section#indexes-links

		h2(i18n i18n-context="On homepage, as a section header for indexes") browse works by...

		ul.big-links
			li: a(i18n href="/tags") tags
			li: a(i18n i18n-context="Link to /using on homepage" href="/using") technologies used
