{{ $latest := .Works | finished | latest }}

extends .layout

block content
	p.pre-h1(translate) Hi, I'm Ewen Le Bihan.
	h1(translate) These are my creations.
	p.intro
		i18n Hi! I'm Ewen Le Bihan, I'm {{ .Age }} years old and I'm interested in almost anything that is both creative and digital.
		br
		a(href="/about")
			img.icon(src='{{ asset "icons/arrow-right.svg" }}')
			span(translate) Learn more


	section#latest

		h2(translate) most recent one

		a.work-card.work-card--large(
			href="/{{ $latest.ID }}"
			style="background-image:url('{{ $latest | getThumbnailSource 900 }}');{{ $latest | intoColorsCSS }}"
		)
			h3 {{ $latest.Title }}
			{{ if len $latest.Paragraphs }}
			p.
				{{ $latest | getSummary | tnindent 4 }}
			{{ end }}

	section#finished

		h2(translate) others

		{{ .Works | finished | intoGallery "" | tindent 2 }}

	section#wip

		h2(translate) work in progress

		{{ .Works | unfinished | intoGallery "" | tindent 2 }}

	section#indexes-links

		h2(translate translate-context="On homepage, as a section header for indexes") browse works by...

		ul.big-links
			li: a(href="/tags" translate) tags
			li: a(href="/using" translate translate-context="Link to /using on homepage") technologies used
