h2 made with…

dl
    dt(translate) beautiful OFL typeface
    dd
        a(href="https://manropefont.com/") Manrope
        i18n by
        a(href="https://gent.media/") Mikhail Sharanda
    
    dt(translate) efficient and comfortable programming language
    dd: a(href="https://go.dev") Go

p
    a(href="/portfolio" translate) Design and coded by hand
    |, not using some template or site builder