{{ $releases := .Works | withTag ("music" | lookupTag) }}
{{ $latestRelease := $releases | latest }}
extends .layout

block content
	p.pre-h1(translate) Hi, I'm Ewen Le Bihan.
	h1(translate) I also make electronic music.
	p.intro
		i18n I’ve been experimenting with sounds, their textures and their musicality since I was 7 years old.
		a(href="/")
			img.icon(src='{{ asset "icons/arrow-left.svg" }}')
			i18n Back home


	section#latest

		h2(translate) latest release

		a.work-card.work-card--large(
			href="/{{ $latestRelease.ID }}"
			style="background-image:url('{{ $latestRelease | getThumbnailSource }}');{{ $latestRelease | intoColorsCSS }}"
		)
			h3 {{ $latestRelease.Title }}
			{{ if len $latestRelease.Paragraphs }}
			p.
				{{ $latestRelease | getSummary | tnindent 4 }}
			{{ end }}

	section#all

		h2(translate) past releases

		{{ $releases | intoGallery "music" | tnindent 2 }}
