@import "mixins"
@import "cards"

ul.tags
	display flex
	flex-direction row
	flex-wrap wrap
	justify-content center
	padding-left 0

	li
		display block
		padding 0.5rem

	a
		opacity-link()
		font-size 1.2em

h1
	text-align center
	font-weight 800
	font-size clamp(3rem, 10vw, 7rem)
	line-height 0.8
	padding-top 0.25em

h1[data-style=outlined]
	color secondary
	text-stroke 2px primary

h1[data-style=hidden]
	display none

	// for alt text
	& + .row > figure
		margin 0
		font-size clamp(3rem, 10vw, 7rem)

h2
	margin 3rem 0
	@media (max-width 1000px)
		margin 3rem 0
	text-align center
	font-weight 800
	font-size 3rem

section.contents
	margin 0 auto
	padding 0 1rem
	padding-bottom 10rem
	max-width 1000px
	display grid
	grid-auto-columns 1fr
	gap 1em

	@media (max-width: 1000px)
		display flex
		flex-direction column

	.element
		display flex
		flex-direction element
		justify-content center

	.element > a
		shape-link()
		justify-content center
		align-self center

	.element > p
		font-size 1.15rem

		.footnote-ref a
			highlighter-link()
	
	.element figure
		margin 0
	
	.element figure[data-content-type^="audio/"]
		width 100%
		padding 0 2rem
	
	.element figcaption
		font-family monospace-stack
		text-align center

	.element > figure > *
		width 100%
		max-height calc(90vh - 4rem)
		object-fit contain

	.element img
		cursor zoom-in

	.element figure[data-content-type="application/pdf"]
		img
			border 1px solid primary
			width 100%
			cursor pointer

		a:hover img
			filter brightness(0.8)

.made-with
	padding 5rem 0
	background-color white
	color black

	&__title
		padding-bottom 0.25rem
		margin-bottom 0

	&__explainer
		padding-bottom 3rem
		text-align center
		opacity 0.5

	&__list
		padding-left 0
		display grid
		grid-template-columns repeat(auto-fit, minmax(200px, 1fr))

		&--fullwidth
			max-width unset

	&__item
		display flex
		flex-direction column
		padding 2rem

		&__learn-more
			opacity-link()

		&__name,
		&__subline,
		&__learn-more
			display block
			text-align center
			font-size 1em
			transition all 0.25s ease

		&__subline
			opacity 0.5

		&__name
			margin-top -0.3em

		&__logo
			margin-bottom 0.5rem
			max-width 5rem
			max-height 5rem
			width 20vw
			height 20vw
			transition transform 0.25s ease

		a
			display flex
			flex-direction column
			align-items center
			text-decoration none

		a:hover
			.made-with__item__subline,
			.made-with__item__name
				font-weight 800

			.made-with__item__logo
				transform scale(1.1)

		a:active
			.made-with__item__logo
				transform scale(1)

		&:hover
			.made-with__item__links li a:not(:hover)
				opacity 0.25

	&__item__links
		display flex
		justify-content center
		align-items center
		margin-top 0.125em
		padding 0
		font-size 2em

		li
			list-style none

		li a
			transition all 0.25s ease

			@media (pointer fine)
				opacity 0

		li a:hover
			opacity 1
			transform scale(1.25)

		li:first-child
			margin-right 1.25em

nav
	width 100%

	ul
		display flex
		flex-direction row
		flex-wrap wrap
		justify-content center
		padding-left 0

	&.inline ul li
		display inline-block

	ul li
		display block
		padding 1rem

	ul li
		a
			font-weight 650
			opacity-link()
			weight-link()

@media (min-width 600px)
	nav:not(.inline)
		position fixed
		z-index 100
		background-color secondary

	main
		padding-top 5rem

@media (min-width 1000px)
	main
		padding-top 1rem // Putting zero creates a mysterious space above <body>

	nav:not(.inline)
		right 0
		width 10rem
		background-color transparent

	nav:not(.inline) ul
		flex-direction column
		align-items flex-end
		margin 0
		// + .2em: compensate for text not sticking to the top of its bounding box.
		// vertical-align: top doesn't seem to fix the problem
		padding 0.5em 1rem 0 0

	nav:not(.inline) ul li
		padding 0
		padding-bottom 0.2em

	nav:not(.inline) ul li a
		font-size 1.3em

main
	max-width calc(100vw - 2*1rem)
	margin 0 auto

footer
	display flex
	flex-direction column
	align-items center
	padding-top 10rem
	background-color white
	color black

	.links
		font-family monospace-stack

		&__hint
			opacity 0.5

		dl
			display inline-grid
			margin-top 0
			grid-template-columns 3rem auto

		dd
			font-family sans-stack
			opacity 0.5

		a
			display block
			weight-link()

	.credits
		display flex
		flex-direction column
		justify-content center
		margin 3rem 0

		p
			margin 0
			text-align center

		p a
			weight-link()

		&__license
			margin 0 auto
			width min-content

		&__license img
			margin-top 0.5rem
			height 1.5rem

main
	display flex
	flex-direction column
	justify-content center

body
	background-position center
	background-size cover

.work-in-progress
	margin-top 1.5rem
	text-align center

	@media (min-width 1000px)
		margin-bottom -1 * @margin-top

	z-index 10
	font-family monospace-stack
	weight-link()

	&::before
		display inline-block
		margin-right 0.5em
		margin-bottom -0.3em
		width 1.2rem
		height @width
		border-radius 50%
		background-color red
		content ''
		transition all 0.25s ease

	&:hover::before, &:active::before
		animation red-dot-blink 0.5s step-start infinite alternate

@keyframes red-dot-blink
	0%
		background red

	50%
		background transparent

	100%
		background red

.pre-h1
	@media (min-width 1000px)
		margin-bottom -1.5rem

	text-align center
	font-size 1.2rem
	opacity 0.5

ul.gallery__works,
ul.gallery__works__year__works
	list-style none
	padding-left 0

.gallery__works
	margin 0 1rem

	&__year:first-child h3
		margin-top 0

	&__year h3
		margin 2rem 0
		text-align center
		font-weight bold
		font-size 2em

	&__year__works__work
		margin 3rem 0
		transition all 0.25s ease

	// &__year, &__year__works__work
	// 	width 100%

section#latest,
section#wip,
section#finished,
section#all,
section:not([class]),
section.go-back
	display flex
	flex-direction column
	align-items center

dialog#media-closeup
	position fixed
	top 0
	right 0
	bottom 0
	left 0
	z-index 9999
	width 100%
	height 100%
	border none
	background rgba(0, 0, 0, 0.25)

	.close
		position fixed
		top 1rem
		right 1rem
		border none
		background transparent
		color secondary
		font-size 5rem
		cursor pointer
		text-stroke 3px primary

	.media
		position fixed
		top 50%
		left 50%
		max-width 95vw
		max-height 95vh
		background-color secondary
		transform translate(-50%, -50%)
		object-fit contain
		object-position center

p.intro
	margin 0 auto
	max-width 1000px
	text-align center

	a
		display flex
		justify-content center
		align-items center
		margin-top 0.5em
		text-decoration none
		weight-link()

	a .icon
		height 1.3em

	a span
		underline-link()
		margin-left 0.5em

.fullheight
	display flex
	flex-direction column
	justify-content center
	align-items center
	height 100vh
	text-align center

.tags-index
	padding 0
	cell-size = 15rem
	display grid
	grid-template-columns repeat(auto-fill, cell-size)
	width unquote("min(100%, 1200px)")
	justify-content center
	margin 0 auto

	li
		display flex
		flex-wrap wrap
		width cell-size
		height cell-size
		background secondary
		color primary
		list-style none
		text-align center

		&:hover
			background-color primary
			color secondary

	li a
		color currentColor
		weight-link()
		font-size 1.5rem
		height 100%
		width 100%
		display flex
		justify-content center
		align-items center

.big-links
	display flex
	flex-direction column
	align-items center
	padding 0
	font-size calc(max(5vw, 2rem))

	li
		list-style none

	li a
		strikeblink-link()

section.footnotes
	margin 0 auto
	padding 0 2rem
	max-width 1000px

.footnotes__list
	display grid
	grid-template-areas 'dt dd'

	dd
		margin-bottom 2em
		grid-area 'dd'

	dt
		font-size 2em
		grid-area 'dt'

	dt a
		text-decoration none

	&__item__reference-link
		highlighter-link()

.description
	text-align center
	opacity 0.75

.description__learn-more
	justify-content center
	align-items center
	display flex
	font-size 1.2em
	weight-link()
	.icon
		height 1em
		padding-right 0.5em

.made-with-page__logo
	margin 2rem 0
	height 4.5rem

a.arrow-link
	weight-link()
	flex-direction column
	display flex
	align-items center

.work-card
	margin-bottom 2rem
.year + .work-card
	margin-top 2rem

.year
	text-align center
	font-size 2em
	margin 0
	font-weight bold
