text-stroke(stroke, color)
	shadow = ()
	from = stroke * -1

	for i in from .. stroke
		for j in from .. stroke
			push(shadow, '' + i * 1px + ' ' + j * 1px + ' 0 ' + color)

	text-shadow unquote(join(', ', shadow))

$(variable-name)
	if variable-name is 'primary'
		fallback = black

	if variable-name is 'secondary'
		fallback = white

	var(unquote('--' + variable-name), fallback)

primary = $(primary)
secondary = $(secondary)
sans-stack = Manrope Variable, Manrope, sans-serif
monospace-stack = Inconsolata, monospace

weight-link()
	text-decoration none

	&:hover
		font-weight 800
		cursor pointer

	transition font-weight 0.125s ease

opacity-link()
	text-decoration none
	opacity 0.5

	&:hover
		opacity 1
		cursor pointer

	transition opacity 0.125s ease

shape-link()
	text-align center
	text-decoration none
	color primary
	position relative
	display flex
	font-size 1.5rem
	margin 5rem

	&::before
		content ''
		position absolute
		border 2px solid primary
		width 4rem
		left 50%
		transform translateX(-50%)
		top -1rem
		z-index -1
		height calc(100% + 2rem)

	&:hover::before
		transform translateX(-50%) rotate(45deg) scale(1.1)

	&:hover
		font-weight 800

	&:active::before
		transform translateX(-50%) rotate(45deg) scale(0.75)

	&, &::before
		transition all 0.25s ease

ul.tags
	padding-left 0
	display flex
	flex-wrap wrap
	flex-direction row
	justify-content center

	li
		display block
		padding 0.5rem

	a
		opacity-link()
		font-size 1.2em

h1
	text-align center
	font-weight 800
	font-size clamp(3rem, 10vw, 7rem)

h1[data-style=outlined]
	text-stroke 2px var(--primary)
	color var(--secondary)

h1[data-style=hidden]
	display none

h2
	text-align center
	font-weight 800
	font-size 3rem

section.contents
	max-width 1000px
	padding 0 1rem
	margin 0 auto

	img
		width 100%
		object-fit contain

	.row[data-columns='1']
		@media (min-width 1000px)
			max-height 85vh

	.row
		display flex
		flex-direction row
		justify-content center
		margin 3rem 0.5rem

	.row > a
		shape-link()
		justify-content center
		align-self center

.made-with
	background-color white
	color black
	padding 5rem 0

	&__title
		padding-bottom 0.25rem

	&__explainer
		text-align center
		opacity 0.5
		padding-bottom 3rem

	&__list
		// == layout
		display flex
		flex-wrap wrap
		justify-content center
		padding-left 0
		margin 0 auto
		max-width calc(4 * (2rem + (5rem + 1rem) + 2rem))

	&__item
		display flex
		flex-direction row
		padding 2rem

		&__name, &__subline
			display block
			text-align center
			transition all 0.25s ease
			font-size 1em

		&__subline
			opacity 0.5

		&__name
			margin-top -0.3em

		&__logo
			width 20vw
			height 20vw
			max-width 5rem
			max-height 5rem
			margin-bottom 0.5rem
			transition transform 0.25s ease

		a
			display flex
			align-items center
			flex-direction column
			text-decoration none

		a:hover
			.made-with__item__subline, .made-with__item__name
				font-weight 800

			.made-with__item__logo
				transform scale(1.1)

		a:active
			.made-with__item__logo
				transform scale(1)

nav
	width 100%

	ul
		display flex
		flex-wrap wrap
		flex-direction row
		justify-content center
		padding-left 0

	ul li
		display block
		padding 1rem

	ul li
		a
			font-weight 650
			opacity-link()
			weight-link()

@media (min-width 600px)
	nav
		position fixed
		background-color secondary
		z-index 100

	main
		padding-top 5rem

@media (min-width 1000px)
	main
		padding-top 1rem // Putting zero creates a mysterious space above <body>

	nav
		width 10rem
		right 0
		background-color transparent

	nav ul
		margin 0
		// + .2em: compensate for text not sticking to the top of its bounding box.
		// vertical-align: top doesn't seem to fix the problem
		padding 0.5em 0.5em + 0.2em 0 0
		align-items end
		flex-direction column

	nav ul li
		padding 0
		padding-bottom 0.2em

	nav ul li a
		font-size 1.3em

footer
	padding-top 10rem
	background-color white
	color black
	display flex
	flex-direction column
	align-items center

	.links
		font-family monospace-stack

		&__hint
			opacity 0.5

		dl
			display grid inline
			grid-template-columns 3rem auto

		dd
			opacity 0.5
			font-family sans-stack

		a
			display block
			weight-link()

	.credits
		margin 3rem 0
		display flex
		justify-content center
		flex-direction column

		p
			margin 0
			text-align center

		p a
			weight-link()

		&__license
			margin 0 auto
			width min-content

		&__license img
			margin-top 0.5rem
			height 1.5rem

.work-card
	height 20rem
	width 30rem

	&__image
		height 20rem
		width 100%
		object-fit cover
		object-position top

	a
		text-decoration none

	h3
		font-size 2rem

main
	display flex
	flex-direction column
	justify-content center

for num in 2 3 4 5
	selector = 'section.contents .row[data-columns="' + num + '"]'
	numpercent = (1 / num) * 100%

	{selector}
		@media (max-width 500px)
			display flex
			flex-direction column

		@media (min-width 500px) and (max-width 1000px)
			display flex
			flex-direction row
			flex-wrap wrap

		@media (min-width 500px)
			~ img, ~ p, ~ a
				max-width numpercent

		@media (min-width 1000px)
			display grid
			grid-template-columns repeat(num, 'calc(%s - 1rem)' % numpercent)
			grid-gap 2rem

section.contents .row[data-columns='1'] > p
	text-align center

body
	background-size cover
	background-position center
