extends ../layout

block append head
	+title("à propos")
	+page-styles("about")

block content
	section
		p.pre-h1 Hey! Je suis Ewen Le Bihan.
		h1 Voici mes créations.
		p Je suis intéressé par tout ce qui est à la fois créatif et digital.
		a(href="/resume") curriculum vitæ

	section
		h2 artistique
		p Dessin à l'école des beaux-arts de Nîmes, ateliers de peinture, de sculpture. Depuis mes 7 ans, je compose de la musique électronique, j'ai suivi des cours de piano et de DJ et participé à une masterclass de production musicale. Pendant mes années de collège, j'ai réalisé de nombreuses affiches et logos en utilisant divers logiciels (3D, motion design, graphisme…)

	section
		h2 numérique
		p J'ai appris à programmer dans différents langages informatiques: HTML, Python et JavaScript, ce qui m'a permis de créer mon site et, actuellement, une application web pour étudiants. J'ai aussi pour projet la création de plusieurs langages de programmation.
		p Tout mes projets de programmation sont visibles par tous sur mon #[a(href="https://github.com/ewen-lbh") profil Github]: tout mes projets sont dits "Open Source".

	section
		h2 linguistique
		p L'anglais étant indispensable à la lecture de documentations et plus généralement à l'autodidactie, j'ai approfondi cette langue (TOEIC: 950/990), conversé par mail avec un américain pour réaliser un logo. Je suis aussi fasciné depuis l'enfance par l'écriture: le cyrillique (d'où mon choix de LV3, le russe), le grec (cours particuliers) et les hiraganas et katakanas (japonais en autodidacte).

	section
		h2 scientifique
		p Le langage mathématique m'intéresse tout autant: j'ai choisi de poursuivre mon éducation scientifique après le lycée en m'inscrivant en classe préparatoire aux grandes écoles, un cursus intensif en 2 ans préparant aux concours d'admissions à des grandes écoles d'ingénieur. Il m'arrive d'appréhender des concepts complexes mathématiques en naviguant sur wikipédia anglais ou en regardant des vidéos de chaînes YouTube telles que #[a(href="https://www.youtube.com/c/3blue1brown") 3Blue1Brown] ou #[a(href="https://youtube.com/c/numberphile") Numerphile]

	section.go-back
		a.arrow-link(href="/")
			img(src=asset("icons/arrow-left.svg"))
			p Retour
